{% extends "home/base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags%}



{% block endtitle %}
{% if request.GET.page %}, страница {{ request.GET.page }}{% endif %}
{% endblock %}

{% block content %}
<main class="blog-archive">
    <section class="header-page margin-bottom-cont">
        <h1>
            {{ page.h1|default:page.title }}{% if request.GET.page %}, страница {{ request.GET.page }}{% endif %}
        </h1>
        {% include 'home/shared_breadcrumbs.html' %}
    </section>

    {% block blog_content %}{% endblock blog_content %}

</main>
{% endblock content %}